<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>EnglishInputMethod</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>MacOSX</string>
    </array>
    <key>CFBundleIdentifier</key>
    <string>io.github.rdj.englishinput.inputmethod</string>
    <key>CFBundleName</key>
    <string>English Input</string>
    <key>CFBundleDisplayName</key>
    <string>English Input</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.3</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSBackgroundOnly</key>
    <true/>
    <key>InputMethodConnectionName</key>
    <string>io.github.rdj.englishinput.inputmethod</string>
    <key>IMKControllerClass</key>
    <string>EnglishInputController</string>
    <key>InputMethodServerControllerClass</key>
    <string>EnglishInputController</string>
    <key>InputMethodServerDelegateClass</key>
    <string>EnglishInputController</string>
    <key>ComponentInputModeDict</key>
    <dict>
        <key>tsInputModeListKey</key>
        <dict>
            <key>io.github.rdj.englishinput.inputmode</key>
            <dict>
                <key>TISInputSourceID</key>
                <string>io.github.rdj.englishinput.inputmode</string>
                <key>TISIntendedLanguage</key>
                <string>en</string>
                <key>tsInputModeDefaultStateKey</key>
                <true/>
                <key>tsInputModeIsVisibleKey</key>
                <true/>
                <key>tsInputModePrimaryInScriptKey</key>
                <true/>
                <key>tsInputModeScriptKey</key>
                <string>smRoman</string>
            </dict>
        </dict>
        <key>tsVisibleInputModeOrderedArrayKey</key>
        <array>
            <string>io.github.rdj.englishinput.inputmode</string>
        </array>
    </dict>
    <key>TICapsLockLanguageSwitchCapable</key>
    <true/>
    <key>tsInputMethodCharacterRepertoireKey</key>
    <array>
        <string>Latn</string>
    </array>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>EnglishInputAppGroup</key>
    <string>group.io.github.rdj.englishinput</string>
</dict>
</plist>
